body {
    text-align: center;
}

h3,
p {
    font-family: sans-serif;
    padding: 0;
    line-height: 10px;
}

.propic {
    width: 100%;
}

.card {
    width: 300px;
    text-align: center;
    box-shadow: gray 0px 8px 16px;
}

.sub {
    color: gray;
    line-height: 10px;
    font-size: 15px;
}

.subic {
    padding: 1%;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 25px;
    height: 25px;
}